@import "./_variables.scss";
// @import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: rgb(122, 191, 110)
    }
    &:invalid {
      border: rgb(252, 122, 122)
    }
  }
}

// form:invalid button[type="submit"] {
//   filter: grayscale(1);
//   pointer-events: none;
// }
